<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
</body>
  <section th:fragment="calculatorFragment">
    <p>
      Basic calulations: <br />
      <input type="text" id="a" value="0" />
      <input type="text" id="b" value="0" />
    </p>
    <p>
      <input type="button" class="btn btn-outline-secondary" value="+" onclick="plus()" />
      <input type="button" class="btn btn-outline-secondary" value="-" onclick="minus()" />
      <input type="button" class="btn btn-outline-secondary" value="*" onclick="multiply()" />
      <input type="button" class="btn btn-outline-secondary" value="/" onclick="divide()" />
    </p>       
     <p>
      Trigonometric functions: <br />
      <input type="text" id="c" value="0" />
    </p>          
    <p>
      RAD: 
      <input type="button" class="btn btn-outline-secondary" value="sin" onclick="sin()" />
      <input type="button" class="btn btn-outline-secondary" value="cos" onclick="cos()" />
      <input type="button" class="btn btn-outline-secondary" value="tan" onclick="tan()" />
    </p>
    <p>Result: <span id="result"></span></p>
  </section> 
</html>