<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
</body>
  <!-- 1st calclulator-->
  <section th:fragment="calculatorFragment">
    <div class="input-group">
      <p>
        Basic calulations: <br />
        <input class="w-50" type="text" id="a" value="0" /><br>
        <input class="w-50" type="text" id="b" value="0" />     
      </p>
    </div>
    <p>
      <input type="button" class="btn btn-outline-secondary" value="+" onclick="plus()" />
      <input type="button" class="btn btn-outline-secondary" value="-" onclick="minus()" />
      <input type="button" class="btn btn-outline-secondary" value="*" onclick="multiply()" />
      <input type="button" class="btn btn-outline-secondary" value="/" onclick="divide()" />
    </p>       
     <p>
      Trigonometric functions: <br />
      <input class="w-50" type="text" id="c" value="0" />
    </p>          
    <p>
      RAD: 
      <input type="button" class="btn btn-outline-secondary" value="sin" onclick="sin()" />
      <input type="button" class="btn btn-outline-secondary" value="cos" onclick="cos()" />
      <input type="button" class="btn btn-outline-secondary" value="tan" onclick="tan()" />
    </p>
    <p>Result: <span id="result"></span></p>
  </section> 
  <!-- 2nd Calculator-->
  <section th:fragment="secondCalcFragment">
  </section>
</html>