<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Calculator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col">
      </div>
      <div class="col border">
        <h1>Calculator</h1>
        <!-- Note: the calculator is in a fragment-->
          <section th:replace="fragments/calculator :: calculatorFragment">
          </section>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
  <script src="javascript/calculator.js"></script>
</body>
</html>